.twinkle {
  font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalnia {
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.butterfly {
  font-family: "Butterfly Kids", cursive;
  font-weight: 400;
  font-style: normal;
}
